.contact-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.naslov {
  margin-left: 255px;
}

.contact-info, .message-us {
  flex-basis: 45%;
  margin-bottom: 30px;
}

.message-us form {
  display: flex;
  flex-direction: column;
}

.message-us label, .message-us input, .message-us textarea {
  margin-bottom: 10px;
}

.message-us textarea {
  height: 120px;
}

.message-us button {
  align-self: flex-start;
  border-radius: 7px;
}

.confirmation-message {
  display: none;
  color: green;
  margin-top: 10px;
}

.confirmation-message.show {
  display: block;
}
input {
  height: 20px;
}